<?xml version="1.0" encoding="UTF-8"?>   
<widget xmlns="http://www.w3.org/ns/widgets"           
        xmlns:gap= "http://phonegap.com/ns/1.0">
     <author>Noah Hebert</author>
     <name>DragonDie</name>
     <description>Fight a dragon by rolling dice. It's not fun. Just a quick test of my JS skills, yo.</description>
     <content src="index.html"/>   
</widget>  
